* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

main {
    width: 100%;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    overflow: auto;
    z-index: 99999;
} 

li {
    list-style: none;
}

/* nav laterale */
.nav-left {
    float: left;
    width: 200px;
    height: calc(100vh - 70px); 
    background-color: rgba(137, 43, 226, 0.164);
}

.spotify-img {
    background: lightcoral;
    width: 100%;
}

.spotify-img img {
    width: 75%;
    padding: 0.5em;
}

.menu {
    padding-left: 0.5em;
    align-items: center;
    color: #a3a3a3;
    padding: 0.5em 0;
    font-size: 0.8em;
}

.menu svg{
    width: 12%;
    fill: #a3a3a3;
}

.menu:hover{
    border-left-color: 1px solid #adff2f;
    color: white;
    fill: white;
}


/* /nav laterale */

/* header */
.header {
    float: left;
    height: 60px;
    width: calc(100% - 200px);
    background-color: #080b12;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 9999999;
}

.header button {
    margin-right: 1em;
    border: none;
    padding: 0.5em 2em;
    border-radius: 20px;
    background: #080b12;
    border: 1px solid white;
    color: white;
}
/* header */

.container {
    overflow: auto;
}


.albums {
    float: left;
    /* width: calc(100% - 200px);*/
    height: calc(100vh - 70px); 
    background: rgba(100, 148, 237, 0.185);
    
}

.nav-footer {
    height: 70px;
    width: 100%;
    background-color: yellowgreen;
}