* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    
}

.flex {
    display: flex;
}

main {
    width: 100%;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    overflow: auto;
    z-index: 99999;
} 

li {
    list-style: none;
}

/* nav laterale */
.nav-left {
    float: left;
    width: 200px;
    height: calc(100vh - 70px);
    background-color: #000000;
}

.spotify-img {
    background: #000000;
    width: 100%;
}

.spotify-img img {
    width: 75%;
    padding: 0.5em;
}

.menu {
    align-items: center;
    color: #a3a3a3;
    padding: 0.5em 1em;
    font-size: 0.8em;
    font-weight: 600;
}

.menu svg{
    padding-right: 0.5em;
    width: 15%;
    fill: #a3a3a3;
}

.menu:hover{
    color: white;
    border-left: 1px solid #adff2f;
}

.playlist {
    margin-top: 1em;
    font-size: 0.8em;
    color: white;
    padding-left: 1em;
    overflow: auto;
}

.ul-playlist {
    margin-top: 1em;
}

.ul-playlist li {
    color: #a3a3a3;
    margin: 1em 0;
    font-weight: 600;
}

.plus {
    align-items: center;
}

.fa-plus-square {
    font-size: 2em;
    margin-right: 0.5em;
}

.instal {
   flex-direction: column;
   align-content: flex-end;
}

.download {
    align-items: center;
    color: #a3a3a3;
    padding: 0.5em 1em;
    margin: 0 0.7em;
    font-size: 0.8em;
    font-weight: 600;
    border-bottom: 1px solid #a3a3a3;
}

.download svg {
    padding-right: 0.5em;
    width: 15%;
    fill: #a3a3a3;
}

.john {
    align-items: center;
    color: #a3a3a3;
    padding: 0.5em 1em;
    margin: 0 0.7em;
    font-size: 0.8em;
    font-weight: 600;
}

.john svg {
    padding-right: 0.5em;
    width: 15%;
    fill: white;
}
 

/* /nav laterale */

/* header */
.header {
    float: left;
    height: 60px;
    width: calc(100% - 200px);
    background-color: #080b12;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 9999999;
}

.header button {
    margin-right: 1em;
    border: none;
    padding: 0.5em 2em;
    border-radius: 20px;
    background: #080b12;
    border: 1px solid white;
    color: white;
}
/* header */

.container {
    overflow: auto;
}


.albums {
    float: left;
    /* width: calc(100% - 200px);*/
    height: calc(100vh - 70px); 
    background: rgba(100, 148, 237, 0.185);
    
}

.nav-footer {
    height: 70px;
    width: 100%;
    background-color: yellowgreen;
}